[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[http]
    cookiefile = ~/.gitcookies

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictStyle = zdiff3

[user]
	name = yysd5
	email = hm.hr.yossy@gmail.com

[include]
    path = ~/.gitconfig.local

